data
.vscode
.ipynb_checkpoints
__pycache__
cache
logs
misc
models
notebooks
old
out
plots
wandb
combine_csv.py
copy_and_run.sh
Dockerfile
embedding_visualization.py
plot_test.py
prep_dataset.py
run_inference.py
run.sh
test.csv
test.ipynb
test.py
train_UCC.py
utils.py